# Ignorer le dossier node_modules
node_modules/

# Ignorer le fichier package-lock.json
package-lock.json

# Ignorer d'autres fichiers potentiellement inutiles
.npm/
.yarn/
.pnpm-debug.log
yarn.lock
dist/
build/
.DS_Store
.env
